<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833916459261-s8bah2759q41fojdrf84ep3v0etm77gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833916459261-s8bah2759q41fojdrf84ep3v0etm77gc</string>
	<key>API_KEY</key>
	<string>AIzaSyAgyBMyZy5tQbhMzZFy9SFnKSI7D6tobrI</string>
	<key>GCM_SENDER_ID</key>
	<string>833916459261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.ilines.nsu.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-4800b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-4800b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833916459261:ios:9b32cfcddebd76b58ec694</string>
</dict>
</plist>